@import "tailwindcss";

:root {
  --main-color: #ffdc58;
  --point-blue: #378ffb;
  --point-orange: #ff9a42;
  --background: #f9f8f7;

  --layout-max-w: 520px;
  --layout-min-h: 100vh;
  --content-frame: 80%;

  width: var(--layout-max-w);
  height: var(--layout-min-h);
  border: 1px solid #ccc;

  margin-left: auto;
  margin-right: auto;
}

@theme inline {
  --color-background: var(--main-color);
  --color-foreground: var(--point-blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.root-container {
  width: var(--layout-max-w);
  height: var(--layout-min-h);

  background: var(--background);
  color: var(--foreground);
  margin: 0 auto;
}
